:root {
  margin: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app {
  max-width: 480px;
  display: grid;
  gap: 2rem;
  margin: 0 auto;
}

.message-card {
  background: rgb(240, 239, 239);
  border: 1px solid #666;
  box-shadow: 8px 8px 0 #000;
  padding: 1rem 1rem;
  display: grid;
  gap: 1rem;
}

.message-card input {
  width: 100%;
  min-height: 50px;
  box-sizing: border-box;
}

.message-card .submit-btn {
  justify-self: start;
  height: 35px;
  border-radius: 1rem;
  background: #fab0b0;
  border: none;
  padding: 0 0.8rem;
}

.thought-card {
  background: white;
  border: 1px solid #666;
  box-shadow: 8px 8px 0 #000;
  padding: 1rem;
}

.thought-footer {
  display: flex;
  justify-content: space-between;
}

.time-text {
  color: #aaa;
}

.submit-btn {
  display: inline-flex;
  align-items: center;
  justify-content: stretch;
  gap: 1.5rem;
}

.heart-btn {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  place-items: center;
}

.heart-btn.is-zero {
  background: #e6e6e6;
}

.heart-btn.is-liked {
  background: #f7b3b3;
}

@media (min-width: 768px) {
  :root {
    margin: 0;
  }
}

@media (min-width: 1024px) {
  .app {
    max-width: 760px;
    gap: 2rem;
  }

  .message-card,
  .thought-card {
    padding: 1.75rem;
    font-size: 1.2rem;
  }

  .submit-btn {
    font-size: 1rem;
    height: 38px;
    width: 260px;
  }
}